* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  padding: 4rem;
  margin: 2rem;
}
nav.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  margin-bottom: 1rem;
}
nav.navbar ul li a {
  text-decoration: none;
}
